<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
<div id="page-container">
    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
    <input type="text" id="search-input" placeholder="search post titles">
    <br/>
    <div id="results-container"></div>
    </div>
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
<!--
    {%- include footer.html -%}
-->

      <div class="wrapper">

<section id="hcard_widget-2" class="widget hcard_widget"><div id="hcard_widget"><div class="hcard-display h-card vcard p-author"><div class="hcard-header"><a class="u-url url fn u-uid" href="" rel="author"><img alt="" src="https://secure.gravatar.com/avatar/0bf0445b4e4b39f830b186b7e23195a1?s=60&amp;d=default&amp;r=pg" srcset="https://secure.gravatar.com/avatar/0bf0445b4e4b39f830b186b7e23195a1?s=120&amp;d=default&amp;r=pg 2x" class="avatar avatar-60 photo u-photo hcard-photo" itemprop="image" loading="lazy" width="60" height="60"></a>
				<p class="hcard-name p-name n">joe jenett</p>
			</div> <!-- end hcard-header -->
	<div class="hcard-body">
		<ul class="hcard-properties">
			 
		</ul> <!-- end hcard-properties -->
					<p class="p-note note">a curator (of sorts) - explore the web!</p>
			</div> <!-- end hcard-body -->
</div><!-- end hcard-display -->
		</div>

		</section><section id="custom_html-2" class="widget_text widget widget_custom_html"><div class="textwidget custom-html-widget"><div style="margin-top:12px;text-align:center;padding-bottom:36px;">
	<a class="ps2id __mPS2id _mPS2id-h mPS2id-highlight" href="#branding">back to top</a>
	</div>
<div style="text-align:center;margin-top:12px;border-top:1px solid #aaa;padding-top:18px;">
	<div style="background:#fff;margin:0 180px;">
	<a style="background:#fff;" href="https://iwebthings.jenett.org/" title="i.webthings hub"><img alt="i.webthings hub" src="../images/iwti.png" style="margin:4px;max-width:22px;"></a> 	<a style="background:#fff;" href="https://micro.blog/joejenett" title="micro.blog"><img alt="micro.blog" src="../images/mbb.png" style="margin:4px;max-width:20px;"></a> 
<a style="background:#fff;" href="https://twitter.com/joejenett" title="twitter"><img src="../images/twitter.png" alt="twitter" style="margin:4px;max-width:22px;"></a> 
<a style="background:#fff;" href="https://mastodon.online/@jenett" title="Mastodon"><img src="../images/mast.png" alt="Mastodon" style="margin:4px;max-width:17px;"></a> <a style="background:#fff;" title="joe jenett at github" href="https://github.com/joejenett"><img src="../images/github.png" alt="joe jenett at github" style="max-width:22px;margin:4px;position:relative:top:6px;"></a> 
<a style="background:#fff;" href="https://simply.personal.jenett.org/feed" title="RSS"><img src="../images/rss.png" alt="RSS" style="margin:4px;max-width:18px;"></a>
	</div>
<div style="margin-top:48px;text-align:center;">
<a href="https://xn--sr8hvo.ws/%E2%9D%95%F0%9F%8F%8C%F0%9F%8D%83/previous">←</a> | <a href="https://xn--sr8hvo.ws/">An IndieWeb Webring 🕸💍</a> | <a href="https://xn--sr8hvo.ws/%E2%9D%95%F0%9F%8F%8C%F0%9F%8D%83/next">→</a>

	<p>
<a href="https://webring.xxiivv.com/#random" class="__mPS2id"><img src="https://webring.xxiivv.com/icon.black.svg" alt="" width="38" height="38"></a>
</p>

</div>
	
	</div>
</div>

		<div id="aka">
			<div id="aka-header">
				<img id="slug" src="../images/rightslugger.png" alt="" /><br />
				<div id="aka-header-left">i.webthings<br /><span class="aka-subhead" style="position:relative;left:9px;">a curator (of sorts)</span>
				</div>
				<span id="aka-header-fix">a.k.a.</span> 
				<div id="aka-header-right">joe jenett<br /><span class="aka-subhead">personal side</span>
				</div>
			</div>
			<div class="aka-sep">
				active sites
			</div>	
			<div class="aka-sep-container">
				<div class="aka-sep-left">
					<li><a title="i.webthings, an independent and noncommercial web initiative" href="https://iwebthings.jenett.org/">i.webthings hub</a></li>
					<li><a title="an eclectic selection of sites to explore, curated by a fellow human" href="https://directory.jenett.org/">i.webthings directory</a></li>
					<li><a title="daily links to resources, diversions, initiatives, and software since 2004" href="https://the.dailywebthing.com/">dailywebthing linkport </a></li>
					<li><a title="daily pointers to personal blogs and other noncommercial sites since 2000" href="https://pointers.dailywebthing.com/">dwt daily pointers</a></li>
				</div>
				<div class="aka-sep-right">	
					<li><a title="that’s me" href="https://jenett.org/">joe jenett</a></li>
					<li><a title="it’s personal. and micro. — simply." href="https://simply.jenett.org/"><span style="font-size:.9em;font-weight:400;letter-spacing:.3em;">SIMPLY</span>.</a></li>
					<li><a title="a pile of tasty miscellany" href="https://wiki.jenett.org/">jenett. wiki.</a></li>
					<li><a title="joe’s little digital garden" href="https://joe.jenett.org/">🌱 𝚓𝚘𝚎. 𝚒𝚍𝚎𝚊𝚜.</a></li>
				</div>
			</div>
			<div class="aka-sep" style="margin:9px 14px 3px 14px;">
				archived sites
			</div>
			<div class="aka-sep-container">
				<div class="aka-sep-left">
					<li><a href="https://linkscatter.jenett.org/">linkscatter</a></li>
					<li><a href="https://coolstop.jenett.org/">coolstop</a></li>
					<li><a href="https://jenett.org/colorspeak/">colorspeak</a></li>
					<li><a href="https://jenett.org/intersect/">intersect</a></li>		
				</div>
		
				<div class="aka-sep-right">	
					<li><a href="https://photo.jenett.org/">jenett.photo</a></li>
					<li><a href="https://joesblues.jenett.org/">joe’s blues</a></li>
					<li><a href="https://deskphotos.jenett.org/">deskphotos</a></li>
					<li><a href="https://jenett.org/v4/">bulltown</a></li>
				</div>
			</div>
		</div>
		
		
<div class="sidefoot" style="text-align:center;>
	<p>
		<em>jenett. simply. personal.</em> is intended<br>
		for a mature audience.
	</p>
	<p>
<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" src="../images/by-nc-sa.png" style="margin:14px 0px 4px 0px;border:none;" width="88"></a><br>Weblog content licensed under<br>a <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons License</a>.
</p>
	<p>
		2000-2021 © Joe Jenett.<br>
		Some rights reserved.
	</p>
	<p>Special thanks to <img src="../images/iconduck.png" alt="" title="Free open source icons, illustrations, emojis and graphics" width="14"> <a title="Free open source icons, illustrations, emojis and graphics" href="https://iconduck.com/">Iconduck</a>!</p>
	<p>
		Some emoji are from <a href="https://commons.wikimedia.org/wiki/Emoji">Wikimedia Commons</a>,<br>released under the<br><a href="https://creativecommons.org/licenses/by/4.0/deed.en">CC Attribution 4.0 International License</a>.
	</p>
	<p>
		Dark mode functionality is somewhat based<br>on an excellent article by <a href="https://dev.to/ananyaneogi/create-a-dark-light-mode-switch-with-css-variables-34l8">Ananya Neogi</a>.
	</p>
</div>
<div class="sidefoot" style="text-align:center;">
	<a href="https://iwebthings.jenett.org/privacy_policy/" title="">Privacy Policy</a>
</div>
<div class="sidefoot" style="text-align:center;">
	<a class="ps2id __mPS2id _mPS2id-h mPS2id-highlight mPS2id-highlight-last" href="#branding">back to top</a></div></div></section>

</div>
</div>

<script src="https://unpkg.com/simple-jekyll-search@latest/dest/simple-jekyll-search.min.js"></script>
<script>
SimpleJekyllSearch({
searchInput: document.getElementById('search-input'),
resultsContainer: document.getElementById('results-container'),
json: '/search.json',
searchResultTemplate: '<li><a href="{url}" title="{desc}">{title}</a> <small>({date})</small></li>',
noResultsText: 'No results found',
limit: 10,
fuzzy: false,
exclude: ['Welcome']
})
</script>
<script type="text/javascript" src="/js/switch.js"></script>
  </body>

</html>
