---
layout: default
---
<div class="home">
<!--
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  -->
<div style="margin-top:36px;">
  {{ content }}

  {%- if site.posts.size > 0 -%}
    <!-- h2 class="post-list-heading">{{ page.list_title | default: "archive" }}</h2 -->
    <ul class="post-list" style="margin-bottom:48px;">
    {% assign count = 0 %}
      {%- for post in site.posts -%}
      {% assign count = count | plus:1 %}
      <li style="margin-bottom:36px;border-bottom:1px solid #ddd;">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }} <span class="post-meta">({{ post.date | date: date_format }})</span>
          </a> 
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}

        {% if post.excerpt != post.content %}
          <p><a href="{{ site.baseurl }}{{ post.url }}">(read more...)</a></p>
        {% endif %}
</li>
      {% if count == 5 %}{% break %}
          {% endif %}
      {%- endfor -%}
           {%- endif -%}
    </ul>
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.atom" | relative_url }}">via RSS</a></p>

  <!--
  <script type="text/javascript">
	$().ready(function(){
		$.getJSON( "https://webmention.io/api/mentions?token=Hk9-dBDdNDqQh9UECT5hdg",
		function( mydata ) {
			console.log(mydata);
			var output = '';
			$.each(mydata.links, function(i, v) {
				if (v.target.search(new RegExp(/{{ page.slug }}/i)) != -1) {
				output = '<div style="border-top:1px solid #ddd;margin-bottom:24px;">Mentions: ';
			}
			});
        		$.each(mydata.links, function(i, v) {
        		if (v.target.search(new RegExp(/{{ page.slug }}/i)) != -1) {
               		output += '<a href="' + v.source + '"><img src="' + v.data.author.photo + '" alt="" width="48" /></a> ';
               	}
    	});
    		output += '<div>';
    		$('#result').html(output);
		});	
	});
</script>
<div id="result"></div>
-->
</div>
</div>
